@import url(https://fonts.googleapis.com/css?family=Manrope);
/*!
 * Bootstrap v3.1.1 (http://getbootstrap.com)
 * Copyright 2011-2014 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/*! normalize.css v3.0.0 | MIT License | git.io/normalize */
body {
    font-family: manrope;
    font-style: normal;
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
  }

.nav-link {
    color: white;
    font-weight: bold;
}
.nav-button {
    height: 40px;
    width: 100px;
    padding:20px;
    color :black;
    font-weight: bolder;
}

.nav-but{
    padding-left: 14px;
}


.paragraf-pertama{
    padding-top: 250px;
    padding-left: 165px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 10px;
}
.paragraf-pertama .sewa {
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 80px;
}

.paragraf-pertama .daftar {
    font-family: Manrope;
    padding-top: 32px;
}

.btn-daftar {
    position: static;
    padding-left:67px;
    padding-right:67px;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 170px;
    height: 62px;
    left: 0px;
    top: 356px;
    background: linear-gradient(90deg, #00B4DB 2.55%, #0083B0 97.19%);
    border-radius: 8px;
    flex: none;
    order: 1;
    align-self: flex-start;
    flex-grow: 0;
    margin: 32px 0px;
    color: white;
}

.img-hp  {
   padding-right: 100px;
   padding-top: 50px;
   height: 600px;

}

.paragraf-dua  {
    padding-top: 20px;
 
 }

 .paragraf-dua .judul-dua {
    padding-top: 20px;
    padding-left: 400px;
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
 
 }

 .paragraf-dua .judul-tiga {
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
    padding-left: 165px;
    padding-top: 130px;
    
 
 }

 .paragraf-dua .judul-empat {
    position: static;
    width: 705px;
    height: 52px;
    left: 0px;
    top: 116px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    padding-left: 165px;
    padding-top: 30px;
 
 }

 .paragraf-dua .img-kotakzoom {
    position: absolute;
    padding-left: 1000px;
    padding-top: 30px;
    height: 300px;

 
 }

 .paragraf-dua .img-kotakzoom2 {
    position: absolute;
    padding-left: 165px;
    padding-top: 50px;
    height: 332px;

 
 }

 .paragraf-dua .judul-lima {
    font-family: Manrope;
    font-style: normal;
    padding-top: 100px;
    padding-left: 500px;
    font-weight: 800;
    font-size: 40px;
    line-height: 54px;
    
 
 }

 .paragraf-dua .judul-enam {
    padding-top: 20px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    padding-left: 500px;
    font-size: 16px;
    line-height: 26px;
    
 }

 .paragraf-tiga {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 64px 165px;
    position: static;
    width: 1440px;
    height: 663px;
    left: calc(50% - 1440px/2);
    top: 1890px;
    background: #F4F5F7;
    flex: none;
    order: 3;
    align-self: center;
    flex-grow: 0;
    margin: 0px 0px;
 }

 .paragraf-tiga .jdl-satu{
    font-family: Manrope;
    padding-top: 50px;
    padding-left: 350px;
    text-align: center;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
 }

 .paragraf-tiga .jdl-dua{
    font-family: Manrope;
    padding-left: 350;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    font-feature-settings: 'liga' off;
 }

 .paragraf-tiga .card-img-user{
    height: 56px;
    width: 56px;
    left: 39.06%;
    right: 39.06%;
    top: 0%;
    bottom: 39.13%;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 8px 0px; 
}

.paragraf-empat {
    display: flex;
flex-direction: column;
align-items: center;
padding: 80px 165px;

position: static;
width: 1440px;
height: 1063px;
left: 0px;
top: 2553px;
background: #F4F5F7;
flex: none;
order: 4;
flex-grow: 0;
margin: 0px 0px;
}

.paragraf-empat .judl-satu{
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 64px;
    /* identical to box height, or 133% */

    text-align: center;
 }
